#head {width:1000px;margin:0px auto}
#head img{width:1000px;height:80px}
#main{width:1000px;margin:0px auto}
#main #main_tb{border-collapse:collapse;width:1000px}
#main #viewTable{border-collapse:collapse;width:1000px}
#main #editTable{border-collapse:collapse;width:1000px}
#foot{width:1000px;margin:0px auto}
